body {margin:0;padding:0;text-align:center;font-size:12px;color:#444;background:#f7f7f7;}
img {border:0}
h3 {margin:0}
#header {background:#5F6567;height:90px;overflow:hidden;}
.main {width:960px;margin:auto;text-align:left;}
#footer{margin-top:12px;border-top:1px solid #E6E6E6;padding-top:6px;color:#999}

#header .main .main-menu a{color:#E6E6E6;text-decoration:none;}
#header .main .main-menu a:hover {color:#color:#249ddd;}
#header .main{color:#E6E6E6}
#header .main .logo{float:left;margin-top:20px;}
#header .main .main-menu, #header .main .right-menu{clear:right;float:right;list-style:none;padding:0;margin:0;margin-top:30px;}
#header .main .right-menu{float:right;margin-top:10px;height:16px;overflow:hidden;}
#header .main .main-menu li {float:left;font-size:14px;font-weight:bold;margin-left:34px;}
#header .main .right-menu li {float:right;}

#header .main .main-menu li.at a{color:#94d7ff}
#header .main .main-menu li.at{background:url('../images/active_nav_tr.gif') no-repeat center bottom;height:35px;}

#header.intro{ border-top:3px solid #97d3ee;margin-bottom:0}
#header.intro .main-menu{ width:750px; margin-top:50px}
#header.intro .main .main-menu li.right{ float:right}
.home-main-banner{ background:url('http://www.upyun.com/images/intro/home/body_home_bg.gif') #e7f5ff;border-bottom:10px solid #d6f0fb}
.home-main-banner .main{ background:url('http://www.upyun.com/images/intro/home/home_banner3.jpg');height:300px}
.home-reg-button{ display:block;text-decoration:none;width:171px;text-indent:-5000px;height:45px;float:left;margin:200px 0 0 30px;background:url('http://www.upyun.com/images/intro/home/btn_singnup.png');}
.home-reg-button:hover{ text-decoration:none;}
